In [20]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\exam\appdata\roaming\python\python310\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\exam\appdata\roaming\python\python310\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\exam\appdata\roaming\python\python310\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\exam\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\exam\appdata\roaming\python\python310\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\exam\appdata\roaming\python\python310\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\exam\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from datetime import datetime,timedelta

In [28]:
def posix_time(dt):
    return (dt - datetime(1970,1,1))/timedelta(seconds=1)

In [34]:
import pandas as pd
data = pd.read_csv('Train.csv')

In [35]:
data = data.sort_values(
    by=['date_time'], ascending=True).reset_index(drop=True)
last_n_hours = [1, 2, 3, 4, 5, 6]
for n in last_n_hours:
    data[f'last_{n}_hour_traffic'] = data['traffic_volume'].shift(n)
data

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,clouds_all,weather_type,weather_description,traffic_volume,last_1_hour_traffic,last_2_hour_traffic,last_3_hour_traffic,last_4_hour_traffic,last_5_hour_traffic,last_6_hour_traffic
0,2012-10-02 09:00:00,NaN,121,89,2,329,1,1,288.28,0.0,...,40,Clouds,scattered clouds,5545,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-02 10:00:00,NaN,178,67,3,330,1,1,289.36,0.0,...,75,Clouds,broken clouds,4516,5545.0,NaN,NaN,NaN,NaN,NaN
2,2012-10-02 11:00:00,NaN,113,66,3,329,2,2,289.58,0.0,...,90,Clouds,overcast clouds,4767,4516.0,5545.0,NaN,NaN,NaN,NaN
3,2012-10-02 12:00:00,NaN,20,66,3,329,5,5,290.13,0.0,...,90,Clouds,overcast clouds,5026,4767.0,4516.0,5545.0,NaN,NaN,NaN
4,2012-10-02 13:00:00,NaN,281,65,3,329,7,7,291.14,0.0,...,75,Clouds,broken clouds,4918,5026.0,4767.0,4516.0,5545.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33745,2017-05-17 21:00:00,NaN,74,85,1,328,7,7,287.88,0.0,...,90,Mist,mist,2348,2348.0,2348.0,2733.0,2733.0,2733.0,3136.0
33746,2017-05-17 22:00:00,NaN,81,70,1,24,2,2,286.95,0.0,...,90,Rain,heavy intensity rain,2194,2348.0,2348.0,2348.0,2733.0,2733.0,2733.0
33747,2017-05-17 22:00:00,NaN,138,70,1,24,1,1,286.95,0.0,...,90,Mist,mist,2194,2194.0,2348.0,2348.0,2348.0,2733.0,2733.0
33748,2017-05-17 23:00:00,NaN,229,66,1,42,6,6,285.75,0.0,...,90,Rain,heavy intensity rain,1328,2194.0,2194.0,2348.0,2348.0,2348.0,2733.0
33749,2017-05-17 23:00:00,NaN,140,63,1,27,8,8,285.75,0.0,...,90,Mist,mist,1328,1328.0,2194.0,2194.0,2348.0,2348.0,2348.0

In [36]:

data = data.dropna().reset_index(drop=True)
# data.loc[data['is_holiday'] != 'None', 'is_holiday'] = 1
# data.loc[data['is_holiday'] == 'None', 'is_holiday'] = 0
# data['is_holiday'] = data['is_holiday'].astype(int)
# data
# data['is_holiday']
# data['date_time'] = pd.to_datetime(data['date_time'])
# data['date_time']

In [37]:
data

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,clouds_all,weather_type,weather_description,traffic_volume,last_1_hour_traffic,last_2_hour_traffic,last_3_hour_traffic,last_4_hour_traffic,last_5_hour_traffic,last_6_hour_traffic
0,2012-10-08 00:00:00,Columbus Day,144,45,9,300,5,5,273.080,0.00,...,20,Clouds,few clouds,455,959.0,1555.0,2110.0,2815.0,3382.0,4015.0
1,2012-11-12 00:00:00,Veterans Day,119,78,1,50,4,4,288.120,0.00,...,87,Clear,sky is clear,1000,2863.0,1924.0,2173.0,2660.0,3390.0,3390.0
2,2012-11-22 00:00:00,Thanksgiving Day,242,78,4,320,2,2,278.540,0.00,...,20,Mist,mist,919,1399.0,1972.0,2432.0,2787.0,3267.0,4179.0
3,2012-12-25 00:00:00,Christmas Day,87,53,2,230,8,8,264.400,0.00,...,90,Clouds,overcast clouds,803,1542.0,2240.0,2463.0,2212.0,1972.0,2536.0
4,2013-01-01 00:00:00,New Years Day,260,72,2,130,4,4,263.490,0.00,...,58,Clouds,broken clouds,1439,1596.0,2293.0,2588.0,2888.0,3294.0,3707.0
5,2013-02-18 00:00:00,Washingtons Birthday,82,72,3,120,8,8,258.960,0.00,...,20,Clouds,few clouds,556,985.0,1672.0,2185.0,3369.0,4139.0,3830.0
6,2013-05-27 00:00:00,Memorial Day,153,88,3,154,8,8,286.370,0.00,...,90,Clouds,overcast clouds,863,1452.0,1895.0,2242.0,2310.0,2587.0,2912.0
7,2013-07-04 00:00:00,Independence Day,236,94,2,176,9,9,290.080,0.00,...,1,Clear,sky is clear,1060,1754.0,2474.0,3077.0,3133.0,3539.0,4579.0
8,2013-08-22 00:00:00,State Fair,85,68,6,159,1,1,297.420,0.00,...,12,Clouds,few clouds,661,1202.0,1898.0,2876.0,3192.0,3666.0,4940.0
9,2013-09-02 00:00:00,Labor Day,155,45,6,186,3,3,288.780,0.00,...,0,Clear,Sky is Clear,1041,1712.0,1321.0,2101.0,2546.0,3181.0,3458.0
10,2013-10-14 00:00:00,Columbus Day,201,93,1,90,4,4,277.720,0.00,...,0,Clear,Sky is Clear,615,1084.0,5353.0,4930.0,4521.0,4850.0,351.0
11,2013-11-11 00:00:00,Veterans Day,145,68,0,286,7,7,275.440,0.00,...,64,Clouds,broken clouds,514,925.0,1450.0,1895.0,2391.0,2844.0,3510.0
12,2013-11-28 00:00:00,Thanksgiving Day,154,63,3,137,2,2,268.240,0.00,...,64,Clouds,broken clouds,929,1535.0,2889.0,3345.0,2786.0,3347.0,4399.0
13,2013-12-25 00:00:00,Christmas Day,14,91,1,270,6,6,260.170,0.25,...,64,Rain,light rain,712,1375.0,1375.0,2010.0,2010.0,2010.0,2221.0
14,2014-01-01 00:00:00,New Years Day,192,91,2,280,2,2,250.140,0.00,...,90,Clouds,overcast clouds,1395,1457.0,2189.0,2711.0,3478.0,4504.0,3797.0
15,2014-01-20 00:00:00,Martin Luther King Jr Day,293,83,2,260,3,3,271.790,0.00,...,64,Clouds,broken clouds,480,1004.0,1499.0,2024.0,2504.0,3095.0,3752.0
16,2014-02-17 00:00:00,Washingtons Birthday,269,53,6,300,1,1,267.440,0.00,...,90,Clouds,overcast clouds,583,978.0,1602.0,2072.0,2365.0,2826.0,3523.0
17,2014-05-26 00:00:00,Memorial Day,223,56,2,230,8,8,294.310,0.00,...,40,Clouds,scattered clouds,967,1575.0,2143.0,2401.0,2611.0,2661.0,2982.0
18,2015-07-03 00:00:00,Independence Day,286,68,3,123,8,8,289.200,0.00,...,1,Clear,sky is clear,959,1657.0,2525.0,2997.0,2977.0,3532.0,3971.0
19,2015-08-27 00:00:00,State Fair,132,76,1,317,5,5,287.970,0.00,...,1,Clear,sky is clear,605,1074.0,1770.0,2812.0,3324.0,3556.0,4856.0
20,2015-09-07 00:00:00,Labor Day,212,63,6,177,7,7,295.020,0.00,...,90,Clouds,overcast clouds,973,1473.0,2027.0,2725.0,2725.0,2725.0,3032.0
21,2015-10-12 00:00:00,Columbus Day,113,86,3,256,7,7,293.020,0.00,...,1,Clear,sky is clear,494,868.0,1363.0,2175.0,2446.0,2228.0,2474.0
22,2015-11-11 00:00:00,Veterans Day,131,74,1,170,6,6,283.350,0.00,...,75,Clouds,broken clouds,559,3119.0,2740.0,4646.0,6517.0,5142.0,5030.0
23,2015-11-26 00:00:00,Thanksgiving Day,73,68,3,315,6,6,277.220,0.00,...,90,Mist,mist,833,2264.0,3419.0,4120.0,5966.0,5923.0,5551.0
24,2015-11-26 00:00:00,Thanksgiving Day,229,65,3,313,1,1,277.220,0.00,...,90,Haze,haze,833,833.0,2264.0,3419.0,4120.0,5966.0,5923.0
25,2015-12-25 00:00:00,Christmas Day,13,94,3,78,5,5,269.090,0.00,...,90,Snow,light snow,894,1606.0,2741.0,2256.0,2134.0,4010.0,4812.0
26,2016-01-01 00:00:00,New Years Day,273,88,4,334,3,3,265.940,0.00,...,90,Haze,haze,1513,1802.0,2768.0,3576.0,5467.0,5747.0,5747.0
27,2016-01-01 00:00:00,New Years Day,145,89,4,336,1,1,265.940,0.00,...,90,Snow,light snow,1513,1513.0,1802.0,2768.0,3576.0,5467.0,5747.0
28,2016-02-15 00:00:00,Washingtons Birthday,109,80,6,311,2,2,265.350,0.00,...,90,Mist,mist,785,2161.0,2161.0,2161.0,2259.0,2024.0,2301.0
29,2016-05-30 00:00:00,Memorial Day,136,66,3,98,2,2,288.380,0.00,...,1,Mist,mist,1082,1782.0,2548.0,2786.0,3012.0,3064.0,3064.0
30,2016-07-04 00:00:00,Independence Day,47,54,1,180,5,5,289.950,0.00,...,1,Clear,sky is clear,1115,1985.0,2252.0,2513.0,2563.0,2718.0,3041.0
31,2016-08-25 00:00:00,State Fair,291,45,2,220,9,9,290.820,0.00,...,1,Clear,sky is clear,655,1169.0,1865.0,2615.0,3030.0,3356.0,4370.0
32,2016-09-05 00:00:00,Labor Day,196,81,1,70,6,6,293.170,1.52,...,90,Rain,moderate rain,1064,1471.0,1471.0,2083.0,2083.0,2368.0,2773.0
33,2016-09-05 00:00:00,Labor Day,241,62,5,103,9,9,293.170,1.52,...,90,Thunderstorm,proximity thunderstorm,1064,1064.0,1471.0,1471.0,2083.0,2083.0,2368.0
34,2016-10-10 00:00:00,Columbus Day,104,41,5,170,9,9,282.341,0.00,...,0,Clear,Sky is Clear,484,949.0,1613.0,1917.0,2405.0,3224.0,3788.0
35,2016-11-11 00:00:00,Veterans Day,104,88,3,303,2,2,281.960,0.00,...,1,Clear,sky is clear,572,1042.0,1694.0,1974.0,2384.0,2855.0,4176.0
36,2016-11-24 00:00:00,Thanksgiving Day,78,79,6,40,1,1,274.340,0.00,...,75,Mist,mist,763,1331.0,1918.0,3155.0,3305.0,2730.0,3575.0
37,2016-12-26 00:00:00,Christmas Day,188,46,4,330,3,3,276.080,0.00,...,90,Rain,light rain,732,980.0,980.0,980.0,1481.0,1481.0,1481.0
38,2016-12-26 00:00:00,Christmas Day,287,46,7,310,3,3,276.080,0.00,...,90,Mist,mist,732,732.0,980.0,980.0,980.0,1481.0,1481.0
39,2017-01-02 00:00:00,New Years Day,146,76,7,270,1,1,270.620,0.00,...,90,Snow,light snow,798,1043.0,1438.0,1777.0,1981.0,2412.0,2955.0
40,2017-01-16 00:00:00,Martin Luther King Jr Day,260,60,4,139,1,1,266.080,0.00,...,1,Mist,mist,698,1149.0,1638.0,2032.0,2523.0,2919.0,3187.0
41,2017-01-16 00:00:00,Martin Luther King Jr Day,144,55,4,120,4,4,266.080,0.00,...,1,Haze,haze,698,698.0,1149.0,1638.0,2032.0,2523.0,2919.0
42,2017-02-20 00:00:00,Washingtons Birthday,67,100,2,70,1,1,285.059,0.00,...,68,Clouds,broken clouds,629,1030.0,1580.0,2263.0,2516.0,3109.0,3843.0

In [17]:
data['day']=pd.to_datetime(data['date_time'],format='%Y-%m-%d').dt.day

In [19]:
data['month']=pd.to_datetime(data['date_time'],format='%Y-%m-%d').dt.month

In [ ]:
data['year']=pd.to_datetime(data['date_time'],format='%Y-%m-%d').dt.year
data['year']

In [ ]:
data['hour']=pd.to_datetime(data['date_time'],format='%Y-%m-%d').dt.year
data['year']

In [24]:
data['date_time']

0    2013-05-27
1    2013-07-04
2    2013-08-22
3    2013-09-02
4    2013-10-14
5    2013-11-11
6    2013-11-28
7    2013-12-25
8    2014-01-01
9    2014-01-20
10   2014-02-17
11   2014-05-26
12   2015-07-03
13   2015-08-27
14   2015-09-07
15   2015-10-12
16   2015-11-11
17   2015-11-26
18   2015-11-26
19   2015-12-25
20   2016-01-01
21   2016-01-01
22   2016-02-15
23   2016-05-30
24   2016-07-04
25   2016-08-25
26   2016-09-05
27   2016-09-05
28   2016-10-10
29   2016-11-11
30   2016-11-24
31   2016-12-26
32   2016-12-26
33   2017-01-02
34   2017-01-16
35   2017-01-16
36   2017-02-20
Name: date_time, dtype: datetime64[ns]

In [26]:
data

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,last_1_hour_traffic,last_2_hour_traffic,last_3_hour_traffic,last_4_hour_traffic,last_5_hour_traffic,last_6_hour_traffic,weekday,month,year,day
0,2013-05-27,1,153,88,3,154,8,8,286.370,0.00,...,556.0,1439.0,803.0,919.0,1000.0,455.0,1,5,2013,27
1,2013-07-04,1,236,94,2,176,9,9,290.080,0.00,...,863.0,556.0,1439.0,803.0,919.0,1000.0,4,7,2013,4
2,2013-08-22,1,85,68,6,159,1,1,297.420,0.00,...,1060.0,863.0,556.0,1439.0,803.0,919.0,4,8,2013,22
3,2013-09-02,1,155,45,6,186,3,3,288.780,0.00,...,661.0,1060.0,863.0,556.0,1439.0,803.0,1,9,2013,2
4,2013-10-14,1,201,93,1,90,4,4,277.720,0.00,...,1041.0,661.0,1060.0,863.0,556.0,1439.0,1,10,2013,14
5,2013-11-11,1,145,68,0,286,7,7,275.440,0.00,...,615.0,1041.0,661.0,1060.0,863.0,556.0,1,11,2013,11
6,2013-11-28,1,154,63,3,137,2,2,268.240,0.00,...,514.0,615.0,1041.0,661.0,1060.0,863.0,4,11,2013,28
7,2013-12-25,1,14,91,1,270,6,6,260.170,0.25,...,929.0,514.0,615.0,1041.0,661.0,1060.0,3,12,2013,25
8,2014-01-01,1,192,91,2,280,2,2,250.140,0.00,...,712.0,929.0,514.0,615.0,1041.0,661.0,3,1,2014,1
9,2014-01-20,1,293,83,2,260,3,3,271.790,0.00,...,1395.0,712.0,929.0,514.0,615.0,1041.0,1,1,2014,20
10,2014-02-17,1,269,53,6,300,1,1,267.440,0.00,...,480.0,1395.0,712.0,929.0,514.0,615.0,1,2,2014,17
11,2014-05-26,1,223,56,2,230,8,8,294.310,0.00,...,583.0,480.0,1395.0,712.0,929.0,514.0,1,5,2014,26
12,2015-07-03,1,286,68,3,123,8,8,289.200,0.00,...,967.0,583.0,480.0,1395.0,712.0,929.0,5,7,2015,3
13,2015-08-27,1,132,76,1,317,5,5,287.970,0.00,...,959.0,967.0,583.0,480.0,1395.0,712.0,4,8,2015,27
14,2015-09-07,1,212,63,6,177,7,7,295.020,0.00,...,605.0,959.0,967.0,583.0,480.0,1395.0,1,9,2015,7
15,2015-10-12,1,113,86,3,256,7,7,293.020,0.00,...,973.0,605.0,959.0,967.0,583.0,480.0,1,10,2015,12
16,2015-11-11,1,131,74,1,170,6,6,283.350,0.00,...,494.0,973.0,605.0,959.0,967.0,583.0,3,11,2015,11
17,2015-11-26,1,73,68,3,315,6,6,277.220,0.00,...,559.0,494.0,973.0,605.0,959.0,967.0,4,11,2015,26
18,2015-11-26,1,229,65,3,313,1,1,277.220,0.00,...,833.0,559.0,494.0,973.0,605.0,959.0,4,11,2015,26
19,2015-12-25,1,13,94,3,78,5,5,269.090,0.00,...,833.0,833.0,559.0,494.0,973.0,605.0,5,12,2015,25
20,2016-01-01,1,273,88,4,334,3,3,265.940,0.00,...,894.0,833.0,833.0,559.0,494.0,973.0,5,1,2016,1
21,2016-01-01,1,145,89,4,336,1,1,265.940,0.00,...,1513.0,894.0,833.0,833.0,559.0,494.0,5,1,2016,1
22,2016-02-15,1,109,80,6,311,2,2,265.350,0.00,...,1513.0,1513.0,894.0,833.0,833.0,559.0,1,2,2016,15
23,2016-05-30,1,136,66,3,98,2,2,288.380,0.00,...,785.0,1513.0,1513.0,894.0,833.0,833.0,1,5,2016,30
24,2016-07-04,1,47,54,1,180,5,5,289.950,0.00,...,1082.0,785.0,1513.0,1513.0,894.0,833.0,1,7,2016,4
25,2016-08-25,1,291,45,2,220,9,9,290.820,0.00,...,1115.0,1082.0,785.0,1513.0,1513.0,894.0,4,8,2016,25
26,2016-09-05,1,241,62,5,103,9,9,293.170,1.52,...,655.0,1115.0,1082.0,785.0,1513.0,1513.0,1,9,2016,5
27,2016-09-05,1,196,81,1,70,6,6,293.170,1.52,...,1064.0,655.0,1115.0,1082.0,785.0,1513.0,1,9,2016,5
28,2016-10-10,1,104,41,5,170,9,9,282.341,0.00,...,1064.0,1064.0,655.0,1115.0,1082.0,785.0,1,10,2016,10
29,2016-11-11,1,104,88,3,303,2,2,281.960,0.00,...,484.0,1064.0,1064.0,655.0,1115.0,1082.0,5,11,2016,11
30,2016-11-24,1,78,79,6,40,1,1,274.340,0.00,...,572.0,484.0,1064.0,1064.0,655.0,1115.0,4,11,2016,24
31,2016-12-26,1,188,46,4,330,3,3,276.080,0.00,...,763.0,572.0,484.0,1064.0,1064.0,655.0,1,12,2016,26
32,2016-12-26,1,287,46,7,310,3,3,276.080,0.00,...,732.0,763.0,572.0,484.0,1064.0,1064.0,1,12,2016,26
33,2017-01-02,1,146,76,7,270,1,1,270.620,0.00,...,732.0,732.0,763.0,572.0,484.0,1064.0,1,1,2017,2
34,2017-01-16,1,260,60,4,139,1,1,266.080,0.00,...,798.0,732.0,732.0,763.0,572.0,484.0,1,1,2017,16
35,2017-01-16,1,144,55,4,120,4,4,266.080,0.00,...,698.0,798.0,732.0,732.0,763.0,572.0,1,1,2017,16
36,2017-02-20,1,67,100,2,70,1,1,285.059,0.00,...,698.0,698.0,798.0,732.0,732.0,763.0,1,2,2017,20

In [22]:



# data['hour'] = data['date_time'].map(lambda x: int(x.strftime("%H")))
# print(data['hour'])
# data['month_day'] = data['date_time'].map(lambda x: int(x.strftime("%d")))
# data['month_day']
data['weekday'] = data['date_time'].map(lambda x: x.weekday()+1)
data['weekday']
# data['month'] = data['date_time'].map(lambda x: int(x.strftime("%m")))
# data['month']
# data['year'] = data['date_time'].map(lambda x: int(x.strftime("%Y")))
# # data['year']

In [23]:
data['weekday']

0     1
1     4
2     4
3     1
4     1
5     1
6     4
7     3
8     3
9     1
10    1
11    1
12    5
13    4
14    1
15    1
16    3
17    4
18    4
19    5
20    5
21    5
22    1
23    1
24    1
25    4
26    1
27    1
28    1
29    5
30    4
31    1
32    1
33    1
34    1
35    1
36    1
Name: weekday, dtype: int64

In [6]:
print(data.columns)

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description', 'traffic_volume', 'last_1_hour_traffic',
       'last_2_hour_traffic', 'last_3_hour_traffic', 'last_4_hour_traffic',
       'last_5_hour_traffic', 'last_6_hour_traffic'],
      dtype='object')

In [45]:
print (data['date_time'])

0        2012-10-02 09:00:00
1        2012-10-02 10:00:00
2        2012-10-02 11:00:00
3        2012-10-02 12:00:00
4        2012-10-02 13:00:00
                ...
33745    2017-05-17 21:00:00
33746    2017-05-17 22:00:00
33747    2017-05-17 22:00:00
33748    2017-05-17 23:00:00
33749    2017-05-17 23:00:00
Name: date_time, Length: 33750, dtype: object

In [46]:
data = data.sort_values(by=['date_time'],ascending=True).reset_index(drop=True)
last_n_hours = [1,2,3,4,5,6]

In [47]:
print (data)

                 date_time is_holiday  air_pollution_index  humidity  \
0      2012-10-02 09:00:00        NaN                  121        89
1      2012-10-02 10:00:00        NaN                  178        67
2      2012-10-02 11:00:00        NaN                  113        66
3      2012-10-02 12:00:00        NaN                   20        66
4      2012-10-02 13:00:00        NaN                  281        65
...                    ...        ...                  ...       ...
33745  2017-05-17 21:00:00        NaN                   74        85
33746  2017-05-17 22:00:00        NaN                   81        70
33747  2017-05-17 22:00:00        NaN                  138        70
33748  2017-05-17 23:00:00        NaN                  229        66
33749  2017-05-17 23:00:00        NaN                  140        63

       wind_speed  wind_direction  visibility_in_miles  dew_point  \
0               2             329                    1          1
1               3             330                    1          1
2               3             329                    2          2
3               3             329                    5          5
4               3             329                    7          7
...           ...             ...                  ...        ...
33745           1             328                    7          7
33746           1              24                    2          2
33747           1              24                    1          1
33748           1              42                    6          6
33749           1              27                    8          8

       temperature  rain_p_h  snow_p_h  clouds_all weather_type  \
0           288.28       0.0       0.0          40       Clouds
1           289.36       0.0       0.0          75       Clouds
2           289.58       0.0       0.0          90       Clouds
3           290.13       0.0       0.0          90       Clouds
4           291.14       0.0       0.0          75       Clouds
...            ...       ...       ...         ...          ...
33745       287.88       0.0       0.0          90         Mist
33746       286.95       0.0       0.0          90         Rain
33747       286.95       0.0       0.0          90         Mist
33748       285.75       0.0       0.0          90         Rain
33749       285.75       0.0       0.0          90         Mist

        weather_description  traffic_volume
0          scattered clouds            5545
1             broken clouds            4516
2           overcast clouds            4767
3           overcast clouds            5026
4             broken clouds            4918
...                     ...             ...
33745                  mist            2348
33746  heavy intensity rain            2194
33747                  mist            2194
33748  heavy intensity rain            1328
33749                  mist            1328

[33750 rows x 15 columns]

In [48]:
for n in last_n_hours:
    data[f'last_{n}_hour_traffic']=data['traffic_volume'].shift(n)

In [49]:
data = data.dropna().reset_index(drop=True)

In [50]:
data.loc[data['is_holiday'] != 'None','is_holiday'] =1
data.loc[data['is_holiday'] == 'None','is_holiday'] =0

In [51]:
data['is_holiday'] = data['is_holiday'].astype(int)

In [52]:
data['is_holiday']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
Name: is_holiday, dtype: int32

In [53]:
data['date_time'] = pd.to_datetime(data['date_time'])
data['date_time']

0    2012-10-08
1    2012-11-12
2    2012-11-22
3    2012-12-25
4    2013-01-01
5    2013-02-18
6    2013-05-27
7    2013-07-04
8    2013-08-22
9    2013-09-02
10   2013-10-14
11   2013-11-11
12   2013-11-28
13   2013-12-25
14   2014-01-01
15   2014-01-20
16   2014-02-17
17   2014-05-26
18   2015-07-03
19   2015-08-27
20   2015-09-07
21   2015-10-12
22   2015-11-11
23   2015-11-26
24   2015-11-26
25   2015-12-25
26   2016-01-01
27   2016-01-01
28   2016-02-15
29   2016-05-30
30   2016-07-04
31   2016-08-25
32   2016-09-05
33   2016-09-05
34   2016-10-10
35   2016-11-11
36   2016-11-24
37   2016-12-26
38   2016-12-26
39   2017-01-02
40   2017-01-16
41   2017-01-16
42   2017-02-20
Name: date_time, dtype: datetime64[ns]

In [54]:
data['hour'] = data['date_time'].map(lambda x: int(x.strftime("%H")))
print(data['hour'])

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
Name: hour, dtype: int64

In [41]:
data['month_day'] = data['date_time'].map(lambda x: int(x.strftime("%d")))
print(data['month_day'])

0      8
1     12
2     22
3     25
4      1
5     18
6     27
7      4
8     22
9      2
10    14
11    11
12    28
13    25
14     1
15    20
16    17
17    26
18     3
19    27
20     7
21    12
22    11
23    26
24    26
25    25
26     1
27     1
28    15
29    30
30     4
31    25
32     5
33     5
34    10
35    11
36    24
37    26
38    26
39     2
40    16
41    16
42    20
Name: month_day, dtype: int64